@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">QRV Detailing</h1>
    <p>QRV Detailing offers mobile RV/Motorhome Detailing across Bucks, Montgomery, and Berks County.</p>
</div>

    <div class="column-container">
        <p><h3>Wash and Wax</h3><br>
        <ul>
        <li>Cleaning roof and applying a protectant UV coating to plastics/seals to protect from cracking from the Sun</li>
        <li>Cleaning and protecting awnings</li>
        <li>Pressure-Washing exterior</li>
        <li>Soaping and rinsing exterior</li>
        <li>Manually applying a Polymer Sealant-Wax</li>
        <li>Cleaning and protecting windows</li>
        <li>Cleaning Wheels and applying a shine to tires</li>
        </ul>
        **Please note that this package does <strong>NOT</strong> include Oxidation Removal.** </p> 
    </div>
    <div class="column-container">
        <p><h3>Oxidation Removal</h3>
        <ul>
        <li>Compounding oxidated portions of vehicle</li>
        <li>Removing compound and revealing fresher paint layer</li>
        <li>Finishing with our Wash and Wax Package</li>
        </ul>
        </p>
    </div>
</div>